:root{
    --cor-de-fundo: #d2d2c1;
    --fonte-site: 16px;
    --cor-fundo-menu: #c5c5b2;
    --cor-menu: #4b566a;
    --font-family-site: Arial, Helvetica, sans-serif;
    --cor-de-fundo-conteudo: #ffffff;
    --cor-de-titulo: #828271;
}